<!-- 
  "i18n:extract": "ng extract-i18n --output-path src/locale"
  extract-i18n - Name of the package
  src/locale- consists of translation files different languages
    
-->

<section>
  <article>
    <!-- i18n is the built-in package in angular. -->
    <!-- Marking the text for translation using i18n attribute
      Card header--instruction to the angular to retai the css styling in translated pages also..
    -->
    <h1 i18n="Card Header | Title for the under Construction card">Under Construction!!</h1>  
    <p i18n="Card Header | a description for the under Construction card">This page is under Construction</p>
  </article>
</section>


