<router-outlet></router-outlet>
<!-- 
Component life cycle:
-------------------------
Initializing phase:
    1) ngOnInit
    2) AfterContentInit
    3) onActivate
Activation pahse
view or display phase
    1) AfterViewInit
    2)AfterViewChecked
validation phase
  1)ngDoCheck
  2)AfterViewChecked
updation phase =>onUpdate
destroy phase =>onDestroy -->

<strong>Enter User Details</strong>
<form>
  First name<input type="text" name="firstname" [(ngModel)]="firsname"/><br>
  Last name<input type="text" name="lastname" [(ngModel)]="lastname"/><br>
  <input type="submit" value="Save"/>
</form>
<router-outlet></router-outlet>